body{
	background: black;
}
.wrapper{
	position: absolute;
	top: 30%;
	left: 30%;
	border-radius: 10px;
	background: white;
	min-width: 600px;
	max-width: 600px;
	min-height: 210px;
}

#quote{
	background: inherit;
	width: 490px;
	max-height: 180px;
	position: relative;
	font-size: 16px;
	top: 25px;
	margin:0 auto;
	height: auto;
}

#quoteGen{
	background-color: #4CAF50;
	border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 10px;
	position: absolute;
	/*margin-top: 1px;*/
	bottom: 5px;
	right: 5px;
}